 /* body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('img/electric-guitar-bg.jpg');
  margin: 0;
  padding: 0;
  color: #04238a;
}

.logo
{ 
  height: 70px;
  padding: 10px;
  width: 70px;
  margin: auto;
}
.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

header {
  text-align: center;
  padding: 40px 20px;
  background-color: #1e7cf7;
  border-radius: 15px;
}

header h1 {
  color: #04238a;
  font-size: 32px;
}

header h2 {
  font-size: 26px;
  margin-top: 10px;
}

header p {
  color: #04238a;
  margin-top: 5px;
  margin-bottom: 20px;
}

.btn {
  background-color: #02a602;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 20px;
  text-align: center;
}

.category {
  flex: 1;
  margin: 0 10px;
}

.category img {
  height: 110px;
  margin-bottom: 10px;
}

.info-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.blue-bg {
  background-color: #1e7cf7 !important;
}

.info-box {
  flex: 1 1 30%;
  background-color: #1e7cf7;
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.info-box img {
  height: 50px;
  margin-bottom: 10px;
}

.info-box a {
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a { 
    color: white;
} */